body
{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    
    color: rgba(0, 0, 0, 0.65);
    background-color: #f2f2f2;
    /* background: #f2f2f2 url('../../images/line.png') no-repeat fixed 0 0; */
}

.bold{
    color: rgba(0, 0, 0, 1);
}


a {
    cursor: pointer;
    text-decoration: none;
    color: 	rgba(0,0,0, 0.75);
}
a:hover {
    color: rgb(0,0,0);
}

::-moz-selection {
    color: #000;
    background: #fbf285;
}

::selection {
    color: #000;
    background: #fbf285;
}

#site-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

#site-header{
    margin: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    /* margin-top:  */
}
/* .tagline, #greetings{
    opacity: 0.75;
} */
#profile-pic{
    width: 15vw;
}
.social-icons{
    padding: 0;
}
.social-icons li{
    display: inline-block;
    font-size: 4vw;
    padding: 0.5vw;
    transition-duration: 0.75s;
    opacity: 0.5;
}

.social-icons li:hover{
    opacity: 1;
    transform: scale(1.1);
}
ul{
    padding: 0;
}
ul li{
    list-style-position: inside;
    list-style-type: square;
}


#portfolio-grid{
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-column-gap: 8%;
    grid-row-gap: 4vw;

}

.entry{
    /* border: 1px solid grey; */
    display: inline-block;
    text-align: center;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 1s;
    
}

.entry:hover{    
    box-shadow: 0.75vw 0.75vw 1vw grey;
    transform: rotate(5deg);
}

.entry-media img{
    width: 16.5vw;
    /* border: 1vw solid white; */
}

.entry-desc h3{
    font-size: 1.5vw;
    margin: 0;
}

.entry-desc p{
    font-size: 1vw;
    margin: 0;
}

#projecttool{
    width: 16.5vw;
    height: 16.5vw;
    background-size: contain;
    background-image: url('projecttool.png');
}
#projecttool:hover{
    cursor: pointer;
}
